.new-tweet {
  background-color: #f4f1ec;
  color: #545149;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: stretch;
  align-items: flex-start;
  padding: 15px;
}
/* button styling */
button {
  background-color: #4056A1; 
  border: none;
  color: white;
  font-family: Bungee;
}

/* styling for the form */
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

/* styling for the counter */
.counter {
  font-family: Bungee;
}

/* styling for the new tweet text area */
textarea {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #545149;
}
/* style the 140 counter*/
.form-footer {
  display: flex;
  justify-content: space-between;

}
/* style the negative characters*/
.negative-num {
  color: red;
}