.tweet {
  border: 3px solid #545149 ;
  width: 100%;
  background-color: #f4f1ec;
  color: #545149;
  margin-bottom: 15px;
}
.tweet:hover {
  box-shadow: 4px 4px 2px #545149;
}
.tweet-header {
  font-weight: 100;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.tweet-section {
  border-bottom: 2px solid #545149; 
  width: 98%;
  margin: auto;
}
.tweet-footer {
  width: 100%;
  display: flex;
  justify-content: space-between; 
  padding-left: 15px;
  padding-right: 15px;
}
.icons {
  width: 150px;
  display: flex;
  justify-content: space-evenly;
  
}
.icons .fas {
  color: #4056A1;
}

.icons .fas:hover {
  color: rgba(167, 144, 14, 0.383);
}
