/* styling for past tweets */

.tweet {
  border: 3px solid #545149 ;
  width: 100%;
  background-color: #f4f1ec;
  color: #545149;
  margin-bottom: 15px;
}
.tweet:hover {
  box-shadow: 4px 4px 2px #545149;
}
.tweet-header {
  font-weight: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.tweet-header h4 {
  margin-top: 18px;
}
#name2 {
  display: inline-flex;
  align-content: flex-start;
  margin-top: 0;
  line-height: 29px;
  vertical-align: text-bottom;
}

.tweet-section {
  border-bottom: 2px solid #545149; 
  width: 98%;
  margin: auto;
}
.tweet-footer {
  width: 100%;
  display: flex;
  justify-content: space-between; 
  padding-left: 15px;
  padding-right: 15px;
}
.icons {
  width: 150px;
  display: flex;
  justify-content: space-evenly;
  
}
.icons .fas {
  color: #4056A1;
}

.icons .fas:hover {
  color: rgba(167, 144, 14, 0.383);
}

